body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#b2dafa;
}

/* SPLASH */
#splash{
    position:fixed;
    inset:0;
    background:#b2dafa;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

#splash img{
    width:150px;
}

.hidden{display:none;}
.show{display:block;}

.logo-top{
    width:120px;
    display:block;
    margin:20px auto;
}

/* ESPECIAL */
.especial{
    margin:20px;
}

.especial-card{
    position:relative;
    border-radius:20px;
    overflow:hidden;
}

.especial-img{
    width:100%;
    height:auto;
    display:block;
}

.especial-overlay{
    position:absolute;
    bottom:20px;
    left:20px;
    background:rgba(0,0,0,0.5);
    padding:15px;
    border-radius:15px;
    color:white;
    backdrop-filter:blur(5px);
}

.especial-overlay button{
    display:block;
    margin-top:10px;
    width:100%;
}

.categorias-container {
    position: relative;
    z-index: 1;
}

section {
    position: relative;
}

/* CERTIFICADO */
.certificados{
    margin:20px;
}

.cert-bg {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
}

.cert-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;

    background: rgba(255,255,255,0.95);
    padding: 15px;
    border-radius: 15px;
    width: 250px;

    z-index: 2;
}

.cert-custom{
    display:flex;
    gap:10px;
    margin:10px 0;
}

.cert-options{
    display:flex;
    gap:10px;
}

/* CARRITO */
.carrito{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:20px;
}

.cart-item{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #eee;
    padding:10px 0;
}

.total-box{
    text-align:right;
    margin-top:10px;
}

/* MODAL */
.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:white;
    padding:20px;
    border-radius:20px;
    max-width:400px;
}

.modal-img{
    width:100%;
    height:200px;
    background-size:cover;
    background-position:center;
    border-radius:15px;
}
