body {
    font-family: Arial;
    background-color: #87CEEB;
    margin: 0;
}

header {
    text-align: center;
}

.logo {
    width: 120px;
}

.especial {
    background-image: url('images/especial.jpg');
    background-size: cover;
    padding: 100px;
    text-align: center;
    color: white;
}

.btn-agregar {
    background-color: khaki;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-detalles {
    background-color: sandybrown;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.carrito {
    padding: 20px;
    background: white;
}

.formulario {
    padding: 20px;
}

input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

button {
    margin-top: 10px;
}
